node_modules/
pnpm-lock.yaml
js/script.min.js
css/style.min.css
js/full.script.js
media/color-palette.png
media/gray-scheme.psd
media/intro-front.png
media/catedral-cocha.jpg
media/image-intro.jpg
media/image-intro.png
package-lock.json
*.#*
#*
*#
~*
*.*~
mobile.script.js
