/*
 * Global vars
 */

:root {
  --inicio-size: 1; /* Fraction of vh*/
  --section-size: 1.2; /* Fraction of vh */
  --min-section-size: 960; /* px */
  --color-lightblue: #00dbfc;
  --color-grey: #3b4749;
  --color-orange: #ff7a00;
  --color-lightgrey: #f7f6f3; /* #f9fafa;*/
  --color-background: #f7f6f3;
  --color-strong: #eb1000;
}

/*
 * General setup
 */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-background);
  font-family: "Nunito Sans", "Times New Roman";
  color: var(--color-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab Highlight", "Trebuchet MS";
  margin: 1em 0.5em;
}

p {
  margin: 1em 0.5em;
}

strong {
  color: var(--color-strong);
}

/*
 * General classes
 */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

/*
 * Inicio (document beginning)
 */

#inicio {
  position: relative;
  height: calc(var(--inicio-size) * 100vh);
  z-index: 1;
}

#titulo {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

#continuar {
  font-size: 1.5rem;
}

#continuar p {
  margin: 0;
}

.arrow {
  border: solid var(--color-grey);
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  animation: 1s ease-in alternate infinite up-down;
}

@keyframes up-down {
  from {
    transform: rotate(45deg) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

/*
 * Sections style
 */

section {
  display: grid;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  /* background: lightyellow; */
  height: max(
    calc(var(--section-size) * 100vh),
    calc(var(--min-section-size) * 1px)
  );
  grid-template-columns: 60% 25% 15%;
  grid-template-rows: auto 25vh auto 25vh auto;
  grid-template-areas:
    ". . ."
    ". . ."
    ". p ."
    "q . ."
    ". . .";
}

@media (max-width: 768px) {
  section {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 40vh auto 10vh auto;
    grid-template-areas:
      ". . ."
      ". . ."
      ". p ."
      ". q ."
      ". . .";
  }
}

section > div {
  position: relative;
  grid-area: p;
  z-index: 1;
}

section div p {
  padding: 1em 0.8em;
  /*  border: solid 2px var(--color-grey); */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.25em;
}

section blockquote,
section figure {
  position: relative;
  grid-area: q;
  z-index: 1;
}

section figure {
  margin-left: 5%;
}

section figure div figcaption {
  transform: translateY(-120%);
  font-family: "Zilla Slab Highlight", "Trebuchet MS";
  color: black;
  background-color: white;
  display: inline-block;
}

section blockquote {
  margin-left: 20%;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: serif;
  font-style: italic;
}

@media (max-width: 768px) {
  section blockquote {
    margin-left: 0;
    line-height: 1.3;
    font-size: 1.3rem;
  }
}

section blockquote p:before {
  content: "“";
}

section blockquote p:after {
  content: "”";
}

section blockquote figcaption:before {
  content: "—";
}

section blockquote figcaption {
  font-style: normal;
}

section img {
  max-width: 450px;
  max-height: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: grayscale(1);
}

@media (max-width: 768px) {
  section figure {
    display: flex;
    justify-content: center;
    margin-left: 0%;
  }
}

#end-div {
  position: relative;
  width: 100%;
  height: 100vh;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/*
 * Captions
 */

.caption {
  position: fixed;
  margin: 1em 0.5em;
  transform: translate(-50%, -120%);
  font-family: "Zilla Slab Highlight", "Trebuchet MS";
  font-size: 1.2em;
  z-index: 0;
}

.avenida {
  font-family: "Nunito Sans", "Times New Roman";
  font-size: 1.1em;
  font-style: bold;
  color: var(--color-strong);
  text-align: center;
  vertical-align: middle;
}

/*
 *  Slideshow (https://sabe.io/tutorials/how-to-create-modal-popup-box)
 */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 2;
}
.modal-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slideshow {
  width: 100%;
  height: 100%;
}

#slideshow img {
  max-height: 60%;
  max-width: 100%;
}

#slideshow figcaption,
#slideshow cite {
  font-size: 1.3rem;
  font-family: serif;
  color: white;
  margin: 2rem;
  text-align: center;
}

#slideshow cite:before {
  content: "—";
}

.close-modal-button {
  position: fixed;
  top: 3%;
  left: 98%;
  transform: translateX(-100%);
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  background-color: white;
  color: black;
}
.close-modal-button:hover {
  background-color: black;
  color: white;
}
.show-modal {
  display: initial;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, transform 0.25s;
}

/*
 * svg
 */

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.map-container svg {
  height: 100vh;
  width: 100%;
}

#cercado-svg-lagunas circle {
  stroke-dasharray: 2, 3;
  stroke: var(--color-orange);
  animation: spin 10s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#cercado-svg-lagunas circle:hover {
  transform: scale(1.4);
}

/* Fix to hover on "laguna cuadras" */
#rio-rocha {
  pointer-events: none;
}

#cercado-svg-lagunas path {
  fill: var(--color-lightblue);
}
