:root {
  --height-inicio: 150vh;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Zilla Slab Highlight", "Trebuchet MS";
}

body {
  font-family: Times New Roman;
}

#inicio {
  overflow: hidden;
  height: 150vh;
  /*calc(var(--height-inicio) * 1px); */
}
/*
#inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}*/

#titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 2em;
  font-weight: bold;
}

#continuar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 1.5rem;
}

@keyframes deslizar {
  from {
    transform: rotate(45deg) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

#cocha {
  position: fixed;
  fill: none;
  width: 300px;
}

#cocha rect {
  fill: none;
}

#cocha path {
  fill: #00dbfc;
  fill: none;
  stroke: none;
}

.center {
  display: flex;
  justify-content: center;
}

.arrow {
  border: solid #00dbfc;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  animation: 1s ease-in alternate infinite deslizar;
}
